*{

  text-align: center;
  margin:0 auto;
}


body {
  /* background-color: rgb(68, 68, 68); */
  background-image: url(../img/andre-taissin-Sa_uh3r-Q5w-unsplash.jpg);
  color: silver;
}

h1 {
  margin: 30px 550px 100px 550px;
  margin-top: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: solid 5px black;
  color: rgb(12, 12, 12);
  font-size: 72px;
  background-color: rgba(245, 245, 245, 0.433);
}

#adventure a {
  text-decoration: none;
  font-family: fantasy;
  font-size: 36px;
  font-weight: bolder;
  cursor: not-allowed;
}


#comfort a {
  text-decoration: none;
  font-family: fantasy; 
  font-size: 36px;
  font-weight: bolder;
  cursor: crosshair;
}

button {
  padding:100px;
  margin: 10px;
  font-size: 32px;
  box-shadow: solid 4px black;
}

#adventure {
  background-color: tomato;
  cursor: not-allowed;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.672), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#adventure:hover {
  background: url("../img/eyeballs.jpg") no-repeat;
}

#adventure:visited {
  color: red;
}

#comfort {
  background-color: lemonchiffon;
  cursor: crosshair;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.672), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#comfort:hover {
  background: url("../img/pasties.jpg") no-repeat;
}

#comfort:visited {
  color: blue;
}

footer {
  background-color: rgba(245, 245, 245, 0.433);
  margin: 200px 550px 100px 550px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(38, 38, 38);
  font-size: 24px;
}